.blog-aside-image {
    width: 26px;
    height: 26px;
    border-radius: 8px;
    box-sizing:border-box;
    border: 1px solid mediumspringgreen;
    padding:0;
}

.blog-aside-image:hover {
    border: 1px solid darkorange;
    transition: 1s;
}

